
body{
  background-color:#f2f2f2;
  font-family:Lato;
  color:#333;
}

img{
  vertical-align: top;
}

.content{
  width:1100px;
  margin:0 auto;
}

/* heaeder */
header{
  position:fixed;
  background-color: white;
  width:100%;
  padding:15px 0px;
  z-index: 100;
}

.bolt-image {
  font-size:50px;
  color: gray;
  float: left;
}


.contact-box{
  background-color: #74cfae;
  padding: 14px 12px;
  font-size: 12px;
  line-height: 15px;
  float:right;
  color: white;
  text-decoration: none; 
  transition:0.3s;
}


.contact-box:hover  {
  transition:0.3s;
  color: black;
}

.main-box {
  width:100%;
  padding-top:82px;
}

.bolt-main-font{
  background-color: #f2f2f2
}
.bolt-theme{
  text-align: center;
  padding:250px 0;
}

.bolt-theme h1 {
  font-size:90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
  font-family:raleway;
}
.bolt-theme p{
  font-size:30px;
  color:#c0c0c0;
}

.iphone-box{
  display:inline-block;
}


.iphone-box img{
  margin-left:80px;
  box-sizing: border-box;
}


.green-section{
  background-color: #74cfae; 
  position:relative;
  padding-top: 50px;
}

.second-section-paragraph{
  width:650px;
  vertical-align: top;
  margin-left: 100px;
  display:inline-block;
}


.second-section-paragraph > h2{
  color:white;
  font-size:24px;
  margin-bottom:35px;
  text-align: center;
  font-family:Raleway;
}

.second-section-paragraph p{
  color:white;
  font-size:20px;
  text-align: center;
  line-height: 25px;
}

/* OUR LATEST WORK */

.image-article-title{
  text-align: center;
}

.image-article-title h2{
  font-size:20px;
  font-family:Raleway;
}

.article-main {
  position:relative;
  background-color: #f2f2f2;
  padding-top:60px;
  padding-bottom:70px;
}


ul{
  margin:0 auto;
  text-align: center;
}



.image-list-box{
  margin-top:40px;
  margin-bottom: 90px;
}

.image-list-box li{
  margin-left:100px;
  margin-top:80px;
  float:left;
  text-align: center ;
  opacity:0.7;
  transition: 0.3s; 
}




.image-list-box li:nth-child(n + 4) {
  margin-bottom:0px;
}

.image-list-box li:first-child {
  margin-left:0px;
}

.image-list-box li:nth-child(4) {
  margin-left:0px;
}
.image-list-box li:nth-child(-n+3){
  margin-top:0px;
}

.image-list-box li:hover  {
  transition: 0.3s;
  opacity:1.0;
}

.article-text-box{
  font-size: 0;
  text-align: center;
}

.article-email{
  background-color: #74cfae;
  display: inline-block;
  color: white;
  text-align: center;  font-size:12px;
  padding:14px 20px;
  text-decoration: none; 
  transition:0.3s;
}


.article-text-box > p{
  display:inline-block;
  width: 440px;
  margin-right: 90px;
  font-size:16px;
  vertical-align: top;
  text-align: center;
}


.article-email:hover {
  transition:0.3s;
  color:#333;
}


/* CIRCLE */

.circlecluster{
  width:100%;
  margin-top: 50px;
}


.circlecluster li{
  margin:0 auto;
  display:inline-block;
  margin-right: 180px;
}

.circlecluster li:last-child{
  margin-right:0px;
}

.circlecluster p{
  color:white;
  font-size:16px;
}

.main-ourskills{
  background-color:#4e4e4e ;
  padding-top: 70px;
  padding-bottom: 100px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.ourskills h2{
  text-align: center;
  color:white;
}



/* 以下ソーシャルのロゴ */
.section-social-logo{
  padding:200px 0;
}

.section-social-logo a{
  font-size: 45px;
  color:#74cfae;
  width:185px;
  line-height: 100px;
  opacity:0.7;
  display: inline-block;
  background-color:#f2f2f2;
  transition: 0.3s ;
}

.section-social-logo a:hover {
	transition: 0.3s ;
  opacity:1.0;
  background-color: white;
  cursor: pointer;
}

.social-logo{
  text-align: center;
}

/* footerセクション */
.footer-main{
  background-color: #74cfae; 
  padding-bottom:25px;  
  padding-top:20px;
}

.footer-box p{
  color:white;
  margin-right:250px;
  text-align: right;
}

.fa-heart{
  color:white;
  padding:0 5px;
}


