


/* 共通 */
body{
  background-color:#f2f2f2;
  font-family:Lato;
  color:#333;
}

img{
  vertical-align: top;
}
a{
  display:inline-block;
}
.content{
  width:1100px;
  margin:0 auto;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/* ここまで共通 */

/* ここからheaeder */
header{
  position:fixed;
  background-color: white;
  width:100%;
  padding:15px 0px;
  z-index: 100;
}

.bolt-image {
  font-size:50px;
  color: gray;
  float: left;
}

.contact-box{
  background-color: #74cfae;
  padding: 14px 12px;
  font-size: 12px;
  line-height: 15px;
  float:right;
  color: white;
  text-decoration: none; 
  transition:0.3s;
}

a.contact-box:hover  {
  color: black;
}

.checkbox_hidden {
  display: none;
}

/* ここまでheader */

/* ここからmain */

.main-box {
  width:100%;
  padding-top:82px;
}

/* ここからbolt theme */

.bolt-main-font{
  background-color: #f2f2f2;
  padding: 250px 0;
}
.bolt-theme{
  text-align: center;
}

.bolt-theme h1 {
  font-size:90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
  font-family:raleway;
}
.bolt-theme p{
  font-size:30px;
  color:#c0c0c0;
}

/* ここまでbolt theme */

/* ここからWHAT WE CAN DO? */

.green-section{
  background-color: #74cfae; 
  position:relative;
  padding-top: 50px;
}

.iphone-box{
  display:inline-block;
}


.iphone-box img{
  margin-left:80px;
  box-sizing: border-box;
}


.second-section-paragraph{
  width:650px;
  vertical-align: top;
  margin-left: 100px;
  display:inline-block;
}


.second-section-paragraph > h2{
  color:white;
  font-size:24px;
  margin-bottom:35px;
  text-align: center;
  font-family:Raleway;
}

.second-section-paragraph p{
  color:white;
  font-size:20px;
  text-align: center;
  line-height: 25px;
}

/* ここまでWHAT WE CAN DO? */

/* ここからOUR LATEST WORK */

.image-article-title{
  text-align: center;
}

.image-article-title h2{
  font-size:20px;
  font-family:Raleway;
}

.article-main {
  position:relative;
  background-color: #f2f2f2;
  padding-top:60px;
  padding-bottom:70px;
}


ul{
  margin:0 auto;
  text-align: center;
}



.image-list-box{
  margin-top:40px;
  margin-bottom: 90px;
}

.image-list-box li{
  margin-left:100px;
  margin-top:80px;
  float:left;
  text-align: center ;
}

.image-list-box a{
  opacity:0.7;
  transition: 0.3s; 
}

.image-list-box a:hover  {
  opacity:1.0;
}

.image-list-box li:nth-child(n + 4) {
  margin-bottom:0px;
}

.image-list-box li:first-child {
  margin-left:0px;
}

.image-list-box li:nth-child(4) {
  margin-left:0px;
}
.image-list-box li:nth-child(-n+3){
  margin-top:0px;
}

.article-text-box{
  font-size: 0;
  text-align: center;
}

.article-email{
  background-color: #74cfae;
  display: inline-block;
  color: white;
  text-align: center;  font-size:12px;
  padding:14px 20px;
  text-decoration: none; 
  transition:0.3s;
}


.article-text-box > p{
  display:inline-block;
  width: 440px;
  margin-right: 90px;
  font-size:16px;
  vertical-align: top;
  text-align: center;
}

.article_text_box_responsive{
  display: none !important; 
}


a.article-email:hover {
  color:#333;
}

/* ここまでOUR LATEST WORK */

/* ここからOUR SKILLS */

.main-ourskills{
  background-color:#4e4e4e ;
  padding-top: 70px;
  padding-bottom: 100px;
}

.ourskills h2{
  text-align: center;
  color:white;
}
.circlecluster{
  width:100%;
  margin-top: 50px;
}


.circlecluster li{
  margin:0 auto;
  display:inline-block;
  margin-right: 180px;
}

.circlecluster li:last-child{
  margin-right:0px;
}

.circlecluster p{
  color:white;
  font-size:16px;
}





/* ここまでourskills */


/* ここからソーシャルのロゴ */
.section-social-logo{
  padding:200px 0;
}

.section-social-logo a{
  font-size: 45px;
  color:#74cfae;
  width:185px;
  line-height: 100px;
  opacity:0.7;
  display: inline-block;
  background-color:#f2f2f2;
  transition: 0.3s 
}

.section-social-logo a:hover {
  opacity:1.0;
  background-color: white;
}

.social-logo{
  text-align: center;
}

/* ここからソーシャルのロゴ */

/* ここからfooterセクション */
.footer-main{
  background-color: #74cfae; 
  padding-bottom:25px;  
  padding-top:20px;
}

.footer-box {
  color:white;
  text-align: right;
}

.fa-heart{
  color:white;
  padding:0 5px;
}

/* ここまでfooterセクション */

/* ここからレスポンシブ */

/* 〜767px：スマホ対応
------------------------------ */
@media screen and (max-width:767px) {

    /* SP_main */
  .content{
    width:97%;
  }
  .second-section-paragraph{
    width: 400px;
    margin-left: 0px; 
  }

  /* SP_header */


  .contact-box{
    display: none;
  }

  /* 以下ハンバーガーメニュー */
  #nav-drawer {
    position: relative;
    float: right;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
      display: inline-block;
      width: 22px;
      height: 19px;
      vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;
      height: 2px;
      width: 24px;
      background: #ddd;
      display: block;
      content: '';
      cursor: pointer;
  }
  
  #nav-open span:before {
    bottom: -7px;
  }
  #nav-open span:after {
    bottom: -14px;
  }

  /* bolt-theme */

  .bolt-main-font{
    padding-top:160px;
    padding-bottom:130px;
  }

  .bolt-theme h1 {
    font-size:80px;
  }
  .br::before {
    content: "\A" ;
    white-space: pre ;
  }

  /* WAHT WE CAN DO */
  .iphone-text{
    text-align: center;
    padding: 0 10px 20px;
  }

  .iphone-box img {
    margin-left: 0px;
}
  .iphone-box {
    margin-bottom: 20px;
  }

  .second-section-paragraph {
    width: 100%;
  }
  .second-section-paragraph p {
    word-wrap: break-word;
    overflow: scroll;
  }

/* OUR LATEST WORK */
  .image-list-box li {
    margin-left: 0px;
    margin-top:0px;
    text-align: center;
    float: none;
  }

  .image-list-box li:nth-child(4) {
    margin-top:80px;
  }

  .article-text-box > p {
    width: 100%;
    font-family: Lato;
    opacity: 0.6;
    line-height: 22px;
}
  .article-email{
    margin-top: 20px;
  }
  .circlecluster li {
    display:block;
    margin-right: 0px;
    margin-bottom: 80px;
  }
  .circlecluster li:last-child {
    margin-bottom: 0px;
  }
  .section-social-logo {
    padding: 50px 0;
  }
  .section-social-logo a {
    width: calc( 100% - 15px );
  }
  .footer-box{
    margin-rightß:10px;
  }
  .article-email{
    font-size:16px;
    padding:14px 25px;
    margin-top: 30px;
  }

}
  /* ：タブレット
  ------------------------------ */
  @media screen and (min-width:768px) and (max-width:1199px) {
  /* メインコンテンツ */
  .content{
    width:97%;
  }
  
  .iphone-text{
    text-align: center;
  }
  .iphone-box img {
    margin-left: 0px;
  }
  .second-section-paragraph {
    margin-left: 0px;
  }
  .iphone-box {
    margin-bottom: 20px;
  }
  .second-section-paragraph p {
    margin-bottom: 25px;
  }
  .image-list-box li:first-child {
    margin-left: 0px;
  }

  .image-list-box li {
    margin-left: 0px;
    margin-top: 0px;
    float: none;
  }

  .image-list-box li:nth-child(4) {
    margin-top: 80px;
  }
  .image-list-box {
    margin-bottom: 80px;
  }
  .article-text-box > p {
    margin-right: 0px;
    margin-bottom: 40px;
    width: 100%;
  }

  .article-email {
    display: block;
    width: 80px;
    margin: 0 auto;
  }
  .circlecluster li {
    margin-right: 0px;
    display: block;
    margin-bottom: 88px;
  }
  .circlecluster li:nth-child(4) {
    margin-bottom: 0px;
  }
  .section-social-logo a {
    width: 140px;
  }

}
   
  
  